<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Lista de Pessoas</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .link-spacing {
      margin-right: 40px; /* ajuste a margem conforme necessário */
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Lista de Pessoas (Total: <span th:text="${contador}"></span>)</h1> <!-- Adicionado contador -->

  <!-- Link para gerar o relatório PDF e Excel-->
  <a class="link-spacing" href="/pessoas/pdf">Gerar Relatório PDF</a>
  <a href="/pessoas/excel">Gerar Relatório Excel</a>

  <table>
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    <tr th:each="pessoa : ${pessoas}">
      <td th:text="${pessoa.cpf}"></td>
      <td th:text="${pessoa.nome}"></td>
      <td>
        <a th:href="@{'/pessoas/update/' + ${pessoa.cpf}}">Editar</a> |
        <a th:href="@{'/pessoas/delete/' + ${pessoa.cpf}}">Excluir</a>
      </td>
    </tr>
  </table>
  <a href="/" class="back-link">Voltar ao Início</a>
</div>
</body>
</html>
